<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen"/>
      <title> Search engine bandits</title>

    </head>
    <body>
      <img src="logo.png" alt="bandit">
   <section id='button'>
    <% if(user) { %>
      <form action="/logout">
        <button class="button" type="submit"> Log out </button>
      </form>
      <form action="/register-property">
        <button class="button" type="submit"> Register Property </button>
      </form>
    <% } else { %> 
      <form action="/login">
        <button class="button" type="submit"> Log in </button>
      </form>
      <form action="/register">
        <button class="button" type="submit"> Sign up </button>
      </form>
    <% } %>
    </section> 
    <% if(user) { %>
      <p> Welcome <%= user.name %>!!!</p>
    <% } %>
      <% properties.forEach(function(property) { %>
        <div class="content">
        <h3><%= property.name %></h3><br><%= property.description %><br><%=property.address%><br>£<%= property.ppn%><br><%=property.contact%><br>
      <button class=" button1" type="submit">Book now!</button><br></div><% }); %>
    
    </body>
</html>
